<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kthw.pmis.mapper.common.FaultInfoMapper">
  <resultMap id="BaseResultMap" type="com.kthw.pmis.entiy.FaultInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fault_info" jdbcType="VARCHAR" property="faultInfo" />
    <result column="device_type" jdbcType="VARCHAR" property="deviceType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, fault_info, device_type
  </sql>
  <sql id="ByMap_Where_Clause">
    <where>
      <if test="eqId != null">
        AND id = #{eqId,jdbcType=INTEGER}
      </if>
      <if test="eqFaultInfo != null">
        AND fault_info = #{eqFaultInfo,jdbcType=VARCHAR}
      </if>
      <if test="eqDeviceType != null">
        AND device_type = #{eqDeviceType,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>
  <sql id="ByMap_Set_Clause">
    <set>
      <if test="faultInfo != null">
        fault_info = #{faultInfo,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null">
        device_type = #{deviceType,jdbcType=VARCHAR},
      </if>
    </set>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_fault_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_fault_info
    <if test="_parameter != null">
      <include refid="ByMap_Where_Clause" />
      <if test="orderByClause != null">
        order by ${orderByClause}
      </if>
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_fault_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kthw.pmis.entiy.FaultInfo">
    insert into tbl_fault_info (id, fault_info, device_type
      )
    values (#{id,jdbcType=INTEGER}, #{faultInfo,jdbcType=VARCHAR}, #{deviceType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kthw.pmis.entiy.FaultInfo">
    insert into tbl_fault_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="faultInfo != null">
        fault_info,
      </if>
      <if test="deviceType != null">
        device_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="faultInfo != null">
        #{faultInfo,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null">
        #{deviceType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kthw.pmis.entiy.FaultInfo">
    update tbl_fault_info
    <include refid="ByMap_Set_Clause" />
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kthw.pmis.entiy.FaultInfo">
    update tbl_fault_info
    set fault_info = #{faultInfo,jdbcType=VARCHAR},
      device_type = #{deviceType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByMap" parameterType="java.util.Map">
    update tbl_fault_info
    <if test="_parameter != null">
      <include refid="ByMap_Set_Clause" />
      <include refid="ByMap_Where_Clause" />
    </if>
  </update>
</mapper>