<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"  
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.kthw.pmis.mapper.stock.StockInfoMapper">
	
	
	<select id="selectStockInfos" parameterType="Map" resultType="com.kthw.pmis.model.stock.StockInfo">
		SELECT t.*,p.device_parts_name,p.device_model_name,p.unit,p.pic,s.storehouse_name
		FROM (SELECT si.*,substring(si.part_id_seq, 1 , 5) part_id FROM tbl_stock_info si) t
		LEFT JOIN view_parts_dict p on t.part_id=p.parts_code
		LEFT JOIN tbl_storehouse_dict s on t.storehouse_id=s.storehouse_id
		WHERE 
        t.storehouse_id =#{storehouse_id} 
       	<if test='part_id !=null and part_id !="" '>
           	and t.part_id_seq like '%' || #{part_id} || '%'
       	</if>
       	<if test='part_name !=null and part_name !="" '>
           	and p.device_part_name like '%' || #{part_name} || '%'
       	</if>
<!--        	<if test='begin_time != null and begin_time != ""'> -->
<!-- 			and t.add_date >= to_timestamp(#{begin_time}, 'yyyy-mm-dd hh24:mi:ss') -->
<!-- 		</if> -->
<!-- 		<if test='end_time != null and end_time != ""'> -->
<!-- 			and t.add_date &lt;= to_timestamp(#{end_time}, 'yyyy-mm-dd hh24:mi:ss') -->
<!-- 		</if> -->
		<if test='enabled==0'>
		    and p.enable =1
		</if>
<!-- 		ORDER BY  t.add_date desc -->
		LIMIT ${length} OFFSET ${start}
	</select>
	
	<select id="selectStockInfosCount" parameterType="Map" resultType="int">
		SELECT count(1)
		FROM (SELECT si.*,substring(si.part_id_seq, 1 , 5) part_id FROM tbl_stock_info si) t
		LEFT JOIN view_parts_dict p on t.part_id=p.parts_code
		LEFT JOIN tbl_storehouse_dict s on t.storehouse_id=s.storehouse_id
        and t.storehouse_id =#{storehouse_id}
       	<if test='part_id !=null and part_id !="" '>
           	and t.part_id_seq like '%' || #{part_id} || '%'
       	</if>
       	<if test='part_name !=null and part_name !="" '>
           	and p.device_parts_name like '%' || #{part_name} || '%'
       	</if>
<!--        	<if test='begin_time != null and begin_time != ""'> -->
<!-- 			and t.add_date >= to_timestamp(#{begin_time}, 'yyyy-mm-dd hh24:mi:ss') -->
<!-- 		</if> -->
<!-- 		<if test='end_time != null and end_time != ""'> -->
<!-- 			and t.add_date &lt;= to_timestamp(#{end_time}, 'yyyy-mm-dd hh24:mi:ss') -->
<!-- 		</if> -->
		<if test='enabled==0'>
		    and p.enable =1
		</if>
	</select>
	
	<delete id="deleteStockInfo" parameterType="Map">
		delete from tbl_stock_info where
		part_code=#{part_code}
		<if test='part_id_seq !=null and part_id_seq !=""'>
		and part_id_seq=#{part_id_seq}
		</if>
	</delete>
	
	<delete id="deleteStockInfoBySheetId" parameterType="Map">
		delete from tbl_stock_info where
		sheet_id=#{sheet_id}
	</delete>
	
	<select id ="selectMaxPartCodeByPartId" parameterType="String" resultType="String">
	    select max(t.part_code) from tbl_stock_info t where t.part_code like #{part_code} || '%'
	</select>
	
	<select id ="getPartIdMaxById" parameterType="String" resultType="String">
	    SELECT max(SUBSTR(si.part_id_seq  , 6)) FROM tbl_stock_info si where si.part_id_seq like #{part_id_seq} || '%'
	</select>
	
	<select id="addStockInfo" parameterType="Map">
	    insert into 
	    tbl_stock_info(part_id_seq,storehouse_id,enabled,asset_attributes_id,factory_parts_code) 
	    values(#{part_id_seq},#{storehouse_id},#{enabled},#{asset_attributes_id},#{factory_parts_code})  
	</select>


	<update id="modifyStockInfo" parameterType="Map">
		update tbl_stock_info set
		unit_price=#{unit_price},storehouse_id=#{storehouse_id},remark=#{remark},part_code=#{part_code}
		<if test='operator_id !=null and operator_id !=""'>
		  , operator_id=#{operator_id}
		</if>
		<if test='operator_name !=null and operator_name !=""'>
		  , operator_name=#{operator_name}
		</if>
		<if test='storage_state !=null and storage_state !=""'>
		  , storage_state=${storage_state}
		</if>
		where part_id_seq=#{part_id_seq}
	</update>
	
	<update id="modifyVerify" parameterType="Map">
		update tbl_stock_info set
		storage_state=${storage_state}
		where sheet_id=#{sheet_id}
	</update>
	
	
</mapper>