<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"  
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.kthw.pmis.mapper.system.PartsMapper">

	<select id="getAllParts" parameterType="Map" resultType="Parts">
		SELECT * FROM
		view_parts_dict
		WHERE
		enable=1
		<if test='part_name !=null and part_name !="" '>
			and device_parts_name like #{part_name}
		</if>
		<if test='part_code !=null and part_code !="" '>
			and parts_code like #{part_code}
		</if>
		<if test='supplier_name !=null and supplier_name !=""'>
			and supplier_name like #{supplier_name}
		</if>
		<if test='deviceTypeName !=null and deviceTypeName !=""'>
			and device_type_name = #{deviceTypeName}
		</if>
		<if test='deviceModelName !=null and deviceModelName !=""'>
			and device_model_name = #{deviceModelName}
		</if>
				<if test='devicePartsName !=null and devicePartsName !=""'>
			and device_parts_name = #{devicePartsName}
		</if>
				<if test='supplierName !=null and supplierName !=""'>
			and supplier_name = #{supplierName}
		</if>
		ORDER BY parts_code
		<if test='length !=null and start !=null '>
			LIMIT ${length} OFFSET ${start}
		</if>
	</select>

	<insert id="addParts" parameterType="Parts">
		insert into
		tbl_parts_dict(parts_id,parts_code,device_parts_id,device_type_id,device_model_id,unit_price,supplier_id,pic,enabled)
		values(#{parts_id},#{parts_code},#{device_parts_id},#{device_type_id},#{device_model_id},${unit_price},#{supplier_id},#{pic},1)
	</insert>

	<update id="updatePars" parameterType="Parts">
		update tbl_parts_dict
		<trim prefix="SET" suffixOverrides=",">
			<if test="part_name != null and part_name != ''">
				part_name=#{part_name},
			</if>
			<if test="device_model != null and device_model != ''">
				device_model=#{device_model},
			</if>
			<if test="unit_price != null and unit_price != ''">
				unit_price=#{unit_price},
			</if>
			<if test="unit != null and unit != ''">
				unit=#{unit},
			</if>
			<if test="supplier_id != null and supplier_id != ''">
				supplier_id=#{supplier_id},
			</if>
			<if test="pic != null and pic != ''">
				pic=#{pic},
			</if>
		</trim>
		where parts_id=#{part_id}
	</update>

	<update id="removePartsById" parameterType="String">
		update tbl_parts_dict
		set
		enabled=0
		where parts_id=#{part_id}
	</update>

	<select id="getPartsById" parameterType="String"
		resultType="Parts">
		SELECT * FROM tbl_parts_dict
		WHERE enabled=1 and
		parts_id=#{part_id}
	</select>

	<select id="getAllPartsCount" resultType="int">
        <![CDATA[ 
             select count(*) from tbl_parts_dict where enabled=1 
         ]]>
	</select>

	<select id="getPartsParamCount" parameterType="Map"
		resultType="int">
		select count(*) from
		view_parts_dict pd
		where
		enable=1
		<if test="part_name != null and part_name != ''">
			and device_parts_name like #{part_name,jdbcType=VARCHAR}
		</if>
		<if test="part_id != null and part_id != ''">
			and parts_id = #{part_id,jdbcType=INTEGER}
		</if>
		<if test='supplier_name !=null and supplier_name !=""'>
			and supplier_name like #{supplier_name,jdbcType=VARCHAR}
		</if>
		<if test='deviceTypeName !=null and deviceTypeName !=""'>
			and device_type_name = #{deviceTypeName}
		</if>
		<if test='deviceModelName !=null and deviceModelName !=""'>
			and device_model_name = #{deviceModelName}
		</if>
		<if test='devicePartsName !=null and devicePartsName !=""'>
			and device_parts_name = #{devicePartsName}
		</if>
		<if test='supplierName !=null and supplierName !=""'>
			and supplier_name = #{supplierName}
		</if>
	</select>

	<select id="getAllDeviceModel" parameterType="Map"
		resultType="DeviceModel">
		SELECT * FROM tbl_5t_device_model_dict
	</select>

	<select id="getAllDeviceType" parameterType="Map"
		resultType="DeviceType">
		SELECT * FROM tbl_5t_device_type_dict
	</select>
	<select id="getAllDeviceName" parameterType="Map"
		resultType="DeviceName">
		SELECT * FROM tbl_5t_device_parts_dict
	</select>

	<update id="updatePicById" parameterType="Map">
		UPDATE tbl_parts_dict
		<set>
			<if test="partPicAdd != null">
				pic=#{partPicAdd},
			</if>
			<if test="sonPositionId != null">
				son_position_id=#{sonPositionId},
			</if>
		</set>
		WHERE parts_id=#{parts_id}
	</update>

</mapper>