<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kthw.pmis.mapper.common.DevicePartMapper">
  <resultMap id="BaseResultMap" type="com.kthw.pmis.entiy.DevicePart">
    <id column="device_parts_id" jdbcType="NUMERIC" property="devicePartsId" />
    <result column="device_parts_name" jdbcType="VARCHAR" property="devicePartsName" />
    <result column="enabled" jdbcType="NUMERIC" property="enabled" />
    <result column="device_parts_code" jdbcType="CHAR" property="devicePartsCode" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>
  <sql id="Base_Column_List">
    device_parts_id, device_parts_name, enabled, device_parts_code, comment
  </sql>
  <sql id="ByMap_Where_Clause">
    <where>
      <if test="eqDevicePartsId != null">
        AND device_parts_id = #{eqDevicePartsId,jdbcType=NUMERIC}
      </if>
      <if test="eqDevicePartsName != null">
        AND device_parts_name = #{eqDevicePartsName,jdbcType=VARCHAR}
      </if>
      <if test="eqEnabled != null">
        AND enabled = #{eqEnabled,jdbcType=NUMERIC}
      </if>
      <if test="eqDevicePartsCode != null">
        AND device_parts_code = #{eqDevicePartsCode,jdbcType=CHAR}
      </if>
      <if test="eqComment != null">
        AND comment = #{eqComment,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>
  <sql id="ByMap_Set_Clause">
    <set>
      <if test="devicePartsName != null">
        device_parts_name = #{devicePartsName,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=NUMERIC},
      </if>
      <if test="devicePartsCode != null">
        device_parts_code = #{devicePartsCode,jdbcType=CHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_5t_device_parts_dict
    where device_parts_id = #{devicePartsId,jdbcType=NUMERIC}
  </select>
  <select id="selectByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_5t_device_parts_dict
    <if test="_parameter != null">
      <include refid="ByMap_Where_Clause" />
      <if test="orderByClause != null">
        order by ${orderByClause}
      </if>
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from tbl_5t_device_parts_dict
    where device_parts_id = #{devicePartsId,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.kthw.pmis.entiy.DevicePart">
    insert into tbl_5t_device_parts_dict (device_parts_id, device_parts_name, enabled, 
      device_parts_code, comment)
    values (#{devicePartsId,jdbcType=NUMERIC}, #{devicePartsName,jdbcType=VARCHAR}, #{enabled,jdbcType=NUMERIC}, 
      #{devicePartsCode,jdbcType=CHAR}, #{comment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kthw.pmis.entiy.DevicePart">
    insert into tbl_5t_device_parts_dict
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="devicePartsId != null">
        device_parts_id,
      </if>
      <if test="devicePartsName != null">
        device_parts_name,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
      <if test="devicePartsCode != null">
        device_parts_code,
      </if>
      <if test="comment != null">
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="devicePartsId != null">
        #{devicePartsId,jdbcType=NUMERIC},
      </if>
      <if test="devicePartsName != null">
        #{devicePartsName,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=NUMERIC},
      </if>
      <if test="devicePartsCode != null">
        #{devicePartsCode,jdbcType=CHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kthw.pmis.entiy.DevicePart">
    update tbl_5t_device_parts_dict
    <include refid="ByMap_Set_Clause" />
    where device_parts_id = #{devicePartsId,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kthw.pmis.entiy.DevicePart">
    update tbl_5t_device_parts_dict
    set device_parts_name = #{devicePartsName,jdbcType=VARCHAR},
      enabled = #{enabled,jdbcType=NUMERIC},
      device_parts_code = #{devicePartsCode,jdbcType=CHAR},
      comment = #{comment,jdbcType=VARCHAR}
    where device_parts_id = #{devicePartsId,jdbcType=NUMERIC}
  </update>
  <update id="updateByMap" parameterType="java.util.Map">
    update tbl_5t_device_parts_dict
    <if test="_parameter != null">
      <include refid="ByMap_Set_Clause" />
      <include refid="ByMap_Where_Clause" />
    </if>
  </update>
</mapper>