<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kthw.pmis.mapper.common.PartsDictMapper">
  <resultMap id="BaseResultMap" type="com.kthw.pmis.entiy.PartsDict">
    <id column="parts_id" jdbcType="NUMERIC" property="partsId" />
    <result column="parts_code" jdbcType="VARCHAR" property="partsCode" />
    <result column="device_parts_id" jdbcType="NUMERIC" property="devicePartsId" />
    <result column="device_type_id" jdbcType="NUMERIC" property="deviceTypeId" />
    <result column="device_model_id" jdbcType="NUMERIC" property="deviceModelId" />
    <result column="unit_price" jdbcType="NUMERIC" property="unitPrice" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="detect_price" jdbcType="NUMERIC" property="detectPrice" />
    <result column="fix_max_pric" jdbcType="NUMERIC" property="fixMaxPric" />
    <result column="normal_quantity" jdbcType="NUMERIC" property="normalQuantity" />
    <result column="low_alarm_quantity" jdbcType="NUMERIC" property="lowAlarmQuantity" />
    <result column="high_alarm_quantity" jdbcType="NUMERIC" property="highAlarmQuantity" />
    <result column="enabled" jdbcType="NUMERIC" property="enabled" />
    <result column="supplier_id" jdbcType="NUMERIC" property="supplierId" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>
  <resultMap id="extResultMap" type="com.kthw.pmis.entiy.ext.ViewParts" extends="BaseResultMap">
    <result column="device_parts_name" jdbcType="VARCHAR" property="devicePartsName" />
    <result column="device_type_name" jdbcType="VARCHAR" property="deviceTypeName" />
    <result column="device_model_name" jdbcType="VARCHAR" property="deviceModelName" />
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
  </resultMap>
  <sql id="Base_Column_List">
    parts_id, parts_code, device_parts_id, device_type_id, device_model_id, unit_price, 
    unit, pic, detect_price, fix_max_pric, normal_quantity, low_alarm_quantity, high_alarm_quantity, 
    enabled, supplier_id, comment
  </sql>
  <sql id="ByMap_Where_Clause">
    <where>
      <if test="eqPartsId != null">
        AND parts_id = #{eqPartsId,jdbcType=NUMERIC}
      </if>
      <if test="eqPartsCode != null">
        AND parts_code = #{eqPartsCode,jdbcType=VARCHAR}
      </if>
      <if test="eqDevicePartsId != null">
        AND device_parts_id = #{eqDevicePartsId,jdbcType=NUMERIC}
      </if>
      <if test="eqDeviceTypeId != null">
        AND device_type_id = #{eqDeviceTypeId,jdbcType=NUMERIC}
      </if>
      <if test="eqDeviceModelId != null">
        AND device_model_id = #{eqDeviceModelId,jdbcType=NUMERIC}
      </if>
      <if test="eqUnitPrice != null">
        AND unit_price = #{eqUnitPrice,jdbcType=NUMERIC}
      </if>
      <if test="eqUnit != null">
        AND unit = #{eqUnit,jdbcType=VARCHAR}
      </if>
      <if test="eqPic != null">
        AND pic = #{eqPic,jdbcType=VARCHAR}
      </if>
      <if test="eqDetectPrice != null">
        AND detect_price = #{eqDetectPrice,jdbcType=NUMERIC}
      </if>
      <if test="eqFixMaxPric != null">
        AND fix_max_pric = #{eqFixMaxPric,jdbcType=NUMERIC}
      </if>
      <if test="eqNormalQuantity != null">
        AND normal_quantity = #{eqNormalQuantity,jdbcType=NUMERIC}
      </if>
      <if test="eqLowAlarmQuantity != null">
        AND low_alarm_quantity = #{eqLowAlarmQuantity,jdbcType=NUMERIC}
      </if>
      <if test="eqHighAlarmQuantity != null">
        AND high_alarm_quantity = #{eqHighAlarmQuantity,jdbcType=NUMERIC}
      </if>
      <if test="eqEnabled != null">
        AND enabled = #{eqEnabled,jdbcType=NUMERIC}
      </if>
      <if test="eqSupplierId != null">
        AND supplier_id = #{eqSupplierId,jdbcType=NUMERIC}
      </if>
      <if test="eqComment != null">
        AND comment = #{eqComment,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>
  <sql id="ByMap_Set_Clause">
    <set>
      <if test="partsCode != null">
        parts_code = #{partsCode,jdbcType=VARCHAR},
      </if>
      <if test="devicePartsId != null">
        device_parts_id = #{devicePartsId,jdbcType=NUMERIC},
      </if>
      <if test="deviceTypeId != null">
        device_type_id = #{deviceTypeId,jdbcType=NUMERIC},
      </if>
      <if test="deviceModelId != null">
        device_model_id = #{deviceModelId,jdbcType=NUMERIC},
      </if>
      <if test="unitPrice != null">
        unit_price = #{unitPrice,jdbcType=NUMERIC},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="detectPrice != null">
        detect_price = #{detectPrice,jdbcType=NUMERIC},
      </if>
      <if test="fixMaxPric != null">
        fix_max_pric = #{fixMaxPric,jdbcType=NUMERIC},
      </if>
      <if test="normalQuantity != null">
        normal_quantity = #{normalQuantity,jdbcType=NUMERIC},
      </if>
      <if test="lowAlarmQuantity != null">
        low_alarm_quantity = #{lowAlarmQuantity,jdbcType=NUMERIC},
      </if>
      <if test="highAlarmQuantity != null">
        high_alarm_quantity = #{highAlarmQuantity,jdbcType=NUMERIC},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=NUMERIC},
      </if>
      <if test="supplierId != null">
        supplier_id = #{supplierId,jdbcType=NUMERIC},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_parts_dict
    where parts_id = #{partsId,jdbcType=NUMERIC}
  </select>
  <select id="getPartsByModel" parameterType="java.util.Map" resultMap="extResultMap">
    select
    *
    from view_parts_dict
    where device_model_name=#{deviceModelName,jdbcType=VARCHAR} AND supplier_name=#{supplierName,jdbcType=VARCHAR}
  </select>
  <select id="selectByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_parts_dict
    <if test="_parameter != null">
      <include refid="ByMap_Where_Clause" />
      <if test="orderByClause != null">
        order by ${orderByClause}
      </if>
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_parts_dict
    where parts_id = #{partsId,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.kthw.pmis.entiy.PartsDict">
    insert into tbl_parts_dict (parts_id, parts_code, device_parts_id, 
      device_type_id, device_model_id, unit_price, 
      unit, pic, detect_price, 
      fix_max_pric, normal_quantity, low_alarm_quantity, 
      high_alarm_quantity, enabled, supplier_id, 
      comment)
    values (#{partsId,jdbcType=NUMERIC}, #{partsCode,jdbcType=VARCHAR}, #{devicePartsId,jdbcType=NUMERIC}, 
      #{deviceTypeId,jdbcType=NUMERIC}, #{deviceModelId,jdbcType=NUMERIC}, #{unitPrice,jdbcType=NUMERIC}, 
      #{unit,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, #{detectPrice,jdbcType=NUMERIC}, 
      #{fixMaxPric,jdbcType=NUMERIC}, #{normalQuantity,jdbcType=NUMERIC}, #{lowAlarmQuantity,jdbcType=NUMERIC}, 
      #{highAlarmQuantity,jdbcType=NUMERIC}, #{enabled,jdbcType=NUMERIC}, #{supplierId,jdbcType=NUMERIC}, 
      #{comment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kthw.pmis.entiy.PartsDict">
    insert into tbl_parts_dict
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="partsId != null">
        parts_id,
      </if>
      <if test="partsCode != null">
        parts_code,
      </if>
      <if test="devicePartsId != null">
        device_parts_id,
      </if>
      <if test="deviceTypeId != null">
        device_type_id,
      </if>
      <if test="deviceModelId != null">
        device_model_id,
      </if>
      <if test="unitPrice != null">
        unit_price,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="pic != null">
        pic,
      </if>
      <if test="detectPrice != null">
        detect_price,
      </if>
      <if test="fixMaxPric != null">
        fix_max_pric,
      </if>
      <if test="normalQuantity != null">
        normal_quantity,
      </if>
      <if test="lowAlarmQuantity != null">
        low_alarm_quantity,
      </if>
      <if test="highAlarmQuantity != null">
        high_alarm_quantity,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
      <if test="supplierId != null">
        supplier_id,
      </if>
      <if test="comment != null">
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="partsId != null">
        #{partsId,jdbcType=NUMERIC},
      </if>
      <if test="partsCode != null">
        #{partsCode,jdbcType=VARCHAR},
      </if>
      <if test="devicePartsId != null">
        #{devicePartsId,jdbcType=NUMERIC},
      </if>
      <if test="deviceTypeId != null">
        #{deviceTypeId,jdbcType=NUMERIC},
      </if>
      <if test="deviceModelId != null">
        #{deviceModelId,jdbcType=NUMERIC},
      </if>
      <if test="unitPrice != null">
        #{unitPrice,jdbcType=NUMERIC},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="detectPrice != null">
        #{detectPrice,jdbcType=NUMERIC},
      </if>
      <if test="fixMaxPric != null">
        #{fixMaxPric,jdbcType=NUMERIC},
      </if>
      <if test="normalQuantity != null">
        #{normalQuantity,jdbcType=NUMERIC},
      </if>
      <if test="lowAlarmQuantity != null">
        #{lowAlarmQuantity,jdbcType=NUMERIC},
      </if>
      <if test="highAlarmQuantity != null">
        #{highAlarmQuantity,jdbcType=NUMERIC},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=NUMERIC},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=NUMERIC},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kthw.pmis.entiy.PartsDict">
    update tbl_parts_dict
    <include refid="ByMap_Set_Clause" />
    where parts_id = #{partsId,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kthw.pmis.entiy.PartsDict">
    update tbl_parts_dict
    set parts_code = #{partsCode,jdbcType=VARCHAR},
      device_parts_id = #{devicePartsId,jdbcType=NUMERIC},
      device_type_id = #{deviceTypeId,jdbcType=NUMERIC},
      device_model_id = #{deviceModelId,jdbcType=NUMERIC},
      unit_price = #{unitPrice,jdbcType=NUMERIC},
      unit = #{unit,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      detect_price = #{detectPrice,jdbcType=NUMERIC},
      fix_max_pric = #{fixMaxPric,jdbcType=NUMERIC},
      normal_quantity = #{normalQuantity,jdbcType=NUMERIC},
      low_alarm_quantity = #{lowAlarmQuantity,jdbcType=NUMERIC},
      high_alarm_quantity = #{highAlarmQuantity,jdbcType=NUMERIC},
      enabled = #{enabled,jdbcType=NUMERIC},
      supplier_id = #{supplierId,jdbcType=NUMERIC},
      comment = #{comment,jdbcType=VARCHAR}
    where parts_id = #{partsId,jdbcType=NUMERIC}
  </update>
  <update id="updateByMap" parameterType="java.util.Map">
    update tbl_parts_dict
    <if test="_parameter != null">
      <include refid="ByMap_Set_Clause" />
      <include refid="ByMap_Where_Clause" />
    </if>
  </update>
</mapper>