<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kthw.pmis.mapper.common.ResponsibleUnitMapper">
  <resultMap id="BaseResultMap" type="com.kthw.pmis.entiy.ResponsibleUnit">
    <id column="depot_id" jdbcType="INTEGER" property="depotId" />
    <result column="depot_name" jdbcType="VARCHAR" property="depotName" />
    <result column="depot_type" jdbcType="VARCHAR" property="depotType" />
  </resultMap>
  <sql id="Base_Column_List">
    depot_id, depot_name, depot_type
  </sql>
  <sql id="ByMap_Where_Clause">
    <where>
      <if test="eqDepotId != null">
        AND depot_id = #{eqDepotId,jdbcType=INTEGER}
      </if>
      <if test="eqDepotName != null">
        AND depot_name = #{eqDepotName,jdbcType=VARCHAR}
      </if>
      <if test="eqDepotType != null">
        AND depot_type = #{eqDepotType,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>
  <sql id="ByMap_Set_Clause">
    <set>
      <if test="depotName != null">
        depot_name = #{depotName,jdbcType=VARCHAR},
      </if>
      <if test="depotType != null">
        depot_type = #{depotType,jdbcType=VARCHAR},
      </if>
    </set>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_responsible_unit
    where depot_id = #{depotId,jdbcType=INTEGER}
  </select>
  <select id="selectByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_responsible_unit
    <if test="_parameter != null">
      <include refid="ByMap_Where_Clause" />
      <if test="orderByClause != null">
        order by ${orderByClause}
      </if>
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_responsible_unit
    where depot_id = #{depotId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kthw.pmis.entiy.ResponsibleUnit">
    insert into tbl_responsible_unit (depot_id, depot_name, depot_type
      )
    values (#{depotId,jdbcType=INTEGER}, #{depotName,jdbcType=VARCHAR}, #{depotType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kthw.pmis.entiy.ResponsibleUnit">
    insert into tbl_responsible_unit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="depotId != null">
        depot_id,
      </if>
      <if test="depotName != null">
        depot_name,
      </if>
      <if test="depotType != null">
        depot_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="depotId != null">
        #{depotId,jdbcType=INTEGER},
      </if>
      <if test="depotName != null">
        #{depotName,jdbcType=VARCHAR},
      </if>
      <if test="depotType != null">
        #{depotType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kthw.pmis.entiy.ResponsibleUnit">
    update tbl_responsible_unit
    <include refid="ByMap_Set_Clause" />
    where depot_id = #{depotId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kthw.pmis.entiy.ResponsibleUnit">
    update tbl_responsible_unit
    set depot_name = #{depotName,jdbcType=VARCHAR},
      depot_type = #{depotType,jdbcType=VARCHAR}
    where depot_id = #{depotId,jdbcType=INTEGER}
  </update>
  <update id="updateByMap" parameterType="java.util.Map">
    update tbl_responsible_unit
    <if test="_parameter != null">
      <include refid="ByMap_Set_Clause" />
      <include refid="ByMap_Where_Clause" />
    </if>
  </update>
</mapper>