<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kthw.pmis.mapper.common.StockInfo1Mapper">
    <resultMap id="BaseResultMap"
               type="com.kthw.pmis.entiy.dto.StockInfoDTO">
        <id column="factory_parts_code" jdbcType="VARCHAR"
            property="factoryPartsCode"/>
        <result column="part_id_seq" jdbcType="VARCHAR"
                property="partIdSeq"/>
        <result column="storehouse_id" jdbcType="NUMERIC"
                property="storehouseId"/>
        <result column="storehouse_name" jdbcType="VARCHAR"
                property="storehouseName"/>
        <result column="enabled" jdbcType="NUMERIC" property="enabled"/>
        <result column="asset_attributes_id" jdbcType="NUMERIC"
                property="assetAttributesId"/>
        <result column="sheet_id" jdbcType="VARCHAR"
                property="sheetId"/>
        <result column="warranty" jdbcType="NUMERIC"
                property="warranty"/>
        <result column="parts_state" jdbcType="NUMERIC"
                property="partsState"/>
        <result column="device_id" jdbcType="NUMERIC"
                property="deviceId"/>
        <result column="create_time" jdbcType="TIMESTAMP"
                property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP"
                property="updateTime"/>
        <result column="device_parts_name" jdbcType="VARCHAR"
                property="devicePartsName"/>
        <result column="device_model_name" jdbcType="VARCHAR"
                property="deviceModelName"/>
        <result column="device_type_name" jdbcType="VARCHAR"
                property="deviceTypeName"/>
        <result column="supplier_name" jdbcType="VARCHAR"
                property="supplierName"/>
        <result column="asset_attributes_name" jdbcType="VARCHAR"
                property="assetAttributesName"/>
        <result column="unit_price" jdbcType="NUMERIC"
                property="unitPrice"/>
        <result column="detect_device_name" jdbcType="VARCHAR"
                property="detectDeviceName"/>
        <result column="purchase_price" jdbcType="NUMERIC"
                property="purchasePrice"/>
        <result column="purchase_date" jdbcType="TIMESTAMP"
                property="purchaseDate"/>
        <result column="remark" jdbcType="VARCHAR"
                property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
		factory_parts_code, part_id_seq, storehouse_id, enabled,
		asset_attributes_id,sheet_id,warranty,create_time,update_time,purchase_price,purchase_date,remark
	</sql>
    <sql id="ByMap_Where_Clause">
        <where>
            <if test="eqFactoryPartsCode != null">
                AND factory_parts_code =
                #{eqFactoryPartsCode,jdbcType=VARCHAR}
            </if>
            <if test="eqPartIdSeq != null">
                AND part_id_seq = #{eqPartIdSeq,jdbcType=VARCHAR}
            </if>
            <if test="eqStorehouseId != null">
                AND storehouse_id = #{eqStorehouseId,jdbcType=NUMERIC}
            </if>
            <if test="eqEnabled != null">
                AND enabled = #{eqEnabled,jdbcType=NUMERIC}
            </if>
            <if test="eqAssetAttributesId != null">
                AND asset_attributes_id =
                #{eqAssetAttributesId,jdbcType=NUMERIC}
            </if>
            <if test="eqSheetId != null">
                AND sheet_id =
                #{eqSheetId,jdbcType=VARCHAR}
            </if>
            <if test="eqWarranty != null">
                AND warranty =
                #{eqWarranty,jdbcType=VARCHAR}
            </if>
            <if test="eqDeviceId != null">
                AND device_id =
                #{eqDeviceId,jdbcType=NUMERIC}
            </if>
            <if test="eqCreateTime != null">
                AND create_time = #{eqCreateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="eqUpdateTime != null">
                AND update_time = #{eqUpdateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="eqPurchaseDate != null">
                AND purchase_date = #{eqPurchaseDate,jdbcType=TIMESTAMP}
            </if>
            <if test="eqPurchasePrice != null">
                AND purchase_price = #{eqPurchasePrice,jdbcType=NUMERIC}
            </if>
        </where>
    </sql>
    <sql id="ByMap_Set_Clause">
        <set>
            <if test="partIdSeq != null">
                part_id_seq = #{partIdSeq,jdbcType=VARCHAR},
            </if>
            <if test="storehouseId != null">
                storehouse_id = #{storehouseId,jdbcType=NUMERIC},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=NUMERIC},
            </if>
            <if test="assetAttributesId != null">
                asset_attributes_id =
                #{assetAttributesId,jdbcType=NUMERIC},
            </if>
            <if test="sheetId != null">
                sheet_id =
                #{sheetId,jdbcType=VARCHAR},
            </if>
            <if test="warranty != null">
                warranty =
                #{warranty,jdbcType=NUMERIC},
            </if>
            <if test="deviceId != null">
                device_id =
                #{deviceId,jdbcType=NUMERIC},
            </if>
            <if test="purchasePrice != null">
                purchase_price =
                #{purchasePrice,jdbcType=NUMERIC},
            </if>
            <if test="purchaseDate != null">
                purchase_date =
                #{purchaseDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                remark =
                #{remark ,jdbcType=VARCHAR},
            </if>
        </set>
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tbl_stock_info
        where factory_parts_code =
        #{factoryPartsCode,jdbcType=VARCHAR}
    </select>
    <select id="selectByMap" parameterType="java.util.Map"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tbl_stock_info
        <if test="_parameter != null">
            <include refid="ByMap_Where_Clause"/>
            <if test="orderByClause != null">
                order by ${orderByClause}
            </if>
        </if>
    </select>
    <select id="getMaxPartId" parameterType="java.util.Map"
            resultType="java.lang.String">
		select max(part_id_seq) from tbl_stock_info
        where part_id_seq&lt;#{maxPartId} and part_id_seq>=#{minPartId}
	</select>
    <select id="getPartInfo" parameterType="java.util.Map"
            resultMap="BaseResultMap">
        SELECT si.part_id_seq,si.factory_parts_code,aa.asset_attributes_name,sd.storehouse_name,
        si.create_time,si.update_time,si.purchase_price,si.remark,
        vp.device_parts_name,
        vp.device_type_name,
        vp.device_model_name,
        vp.supplier_name
        from tbl_stock_info si INNER join view_parts_dict vp on substring
        (si.part_id_seq,1,5)=vp.parts_code
        left JOIN tbl_asset_attributes aa on si.asset_attributes_id=aa.asset_attributes_id
        left join tbl_storehouse_dict sd on si.storehouse_id=sd.storehouse_id
        <where>
            <if test='eqPartId !=null and eqPartId !="" '>
                and si.part_id_seq = #{eqPartId}
            </if>
            <if test='eqPartCode !=null and eqPartCode !="" '>
                and si.factory_parts_code = #{eqPartCode}
            </if>
        </where>
    </select>
    <select id="selectWithParts" parameterType="java.util.Map"
            resultMap="BaseResultMap">
        SELECT
        si.*,device_parts_name,device_model_name,device_type_name,vp.supplier_name
        as supplier_name ,unit_price,storehouse_name, ddd.detect_device_name,aa.asset_attributes_name FROM
        tbl_stock_info si
        left join view_parts_dict vp on substring(si.part_id_seq,1,5)=vp.parts_code
        left join tbl_storehouse_dict sd on si.storehouse_id=sd.storehouse_id
        left join tbl_detect_device_dict ddd on si.device_id=ddd.detect_device_id
        left join tbl_asset_attributes aa on si.asset_attributes_id=aa.asset_attributes_id
        <where>
            <if test='detectDeviceId !=null and detectDeviceId !="" '>
                and si.device_id = #{detectDeviceId}
            </if>
            <if test='eqEnabled !=null and eqEnabled !="" '>
                and si.enabled = #{eqEnabled}
            </if>
            <if test='storeHouseId !=null and storeHouseId !="" '>
                and si.storehouse_id = #{storeHouseId}
            </if>
            <if test="detectDeviceId != null">
                and si.device_id=#{detectDeviceId}
            </if>
            <if test='devicePartsName !=null and devicePartsName !="" '>
                and device_parts_name like #{devicePartsName}
            </if>
            <if test='partId !=null and partId !="" '>
                and si.part_id_seq like #{partId}
            </if>
            <if test='partCode !=null and partCode !="" '>
                and si.factory_parts_code like #{partCode}
            </if>
            <if test='eqPartId !=null and eqPartId !="" '>
                and si.part_id_seq = #{eqPartId}
            </if>
            <if test='eqPartCode !=null and eqPartCode !="" '>
                and si.factory_parts_code = #{eqPartCode}
            </if>
            <if test='subPartId !=null and subPartId !="" '>
                and substring(si.part_id_seq,1,5) = #{subPartId}
            </if>
            <if test='supplierName !=null and supplierName !=""'>
                and supplier_name like #{supplierName}
            </if>
            <if test='deviceTypeName !=null and deviceTypeName !=""'>
                and device_type_name = #{deviceTypeName}
            </if>
            <if test='deviceModelName !=null and deviceModelName !=""'>
                and device_model_name = #{deviceModelName}
            </if>
            <if test='devicePartsName1 !=null and devicePartsName1 !=""'>
                and device_parts_name = #{devicePartsName1}
            </if>
            <if test='supplierName !=null and supplierName !=""'>
                and supplier_name = #{supplierName}
            </if>
            <if test='eqType !=null and eqType !="" '>
                and sd.type= #{eqType}
            </if>
            <if test='eqDepotId !=null and eqDepotId !="" '>
                and sd.depot_id= #{eqDepotId}
            </if>
            <if test='assetAttributesId !=null and assetAttributesId !="" '>
                and si.asset_attributes_id= #{assetAttributesId}
            </if>
        </where>
        ORDER BY si.create_time
        <if test='length !=null and start !=null '>
            LIMIT ${length} OFFSET ${start}
        </if>

    </select>
    <select id="getPartsParamCount" parameterType="java.util.Map"
            resultType="java.lang.Integer">
        SELECT count(*) FROM
        tbl_stock_info si
        left join view_parts_dict vp on substring(si.part_id_seq,1,5)=vp.parts_code
        left join tbl_storehouse_dict sd on si.storehouse_id=sd.storehouse_id
        <where>
            <if test='detectDeviceId !=null and detectDeviceId !="" '>
                and si.device_id = #{detectDeviceId}
            </if>
            <if test='storeHouseId !=null and storeHouseId !="" '>
                and si.storehouse_id = #{storeHouseId}
            </if>
            <if test='devicePartsName !=null and devicePartsName !="" '>
                and device_parts_name like #{devicePartsName}
            </if>
            <if test='partId !=null and partId !="" '>
                and si.part_id_seq like #{partId}
            </if>
            <if test='partCode !=null and partCode !="" '>
                and si.factory_parts_code like #{partCode}
            </if>
            <if test='eqEnabled !=null and eqEnabled !="" '>
                and si.enabled = #{eqEnabled}
            </if>
            <if test='eqType !=null and eqType !="" '>
                and sd.type= #{eqType}
            </if>
        </where>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		tbl_stock_info
		where factory_parts_code =
		#{factoryPartsCode,jdbcType=VARCHAR}
	</delete>
    <insert id="insert"
            parameterType="com.kthw.pmis.entiy.StockInfo1">
		insert into tbl_stock_info (factory_parts_code,
		part_id_seq, storehouse_id,
		enabled, asset_attributes_id,sheet_id,warranty,device_id,purchase_date,purchase_price,remark)
		values
		(#{factoryPartsCode,jdbcType=VARCHAR}, #{partIdSeq,jdbcType=VARCHAR},
		#{storehouseId,jdbcType=NUMERIC},
		#{enabled,jdbcType=NUMERIC},
		#{assetAttributesId,jdbcType=NUMERIC},
		#{sheetId,jdbcType=VARCHAR},
		#{warranty,jdbcType=NUMERIC},
		#{deviceId,jdbcType=NUMERIC},
		#{purchaseDate,jdbcType=TIMESTAMP},
		#{purchasePrice,jdbcType=NUMERIC},
		#{remark,jdbcType=VARCHAR})
	</insert>
    <insert id="batchInsert" parameterType="java.util.List">
        insert into tbl_stock_info
        (factory_parts_code, part_id_seq,
        storehouse_id,
        enabled, asset_attributes_id,sheet_id,parts_state,warranty,device_id,purchase_date,purchase_price,remark)
        values
        <foreach collection="list" item="item" index="index"
                 separator=",">
            (
            #{item.factoryPartsCode,jdbcType=VARCHAR},
            #{item.partIdSeq,jdbcType=VARCHAR},
            #{item.storehouseId,jdbcType=NUMERIC},
            #{item.enabled,jdbcType=NUMERIC},
            #{item.assetAttributesId,jdbcType=NUMERIC},
            #{item.sheetId,jdbcType=VARCHAR},
            #{item.partsState,jdbcType=NUMERIC},
            #{item.warranty,jdbcType=NUMERIC},
            #{item.deviceId,jdbcType=NUMERIC},
            #{item.purchaseDate,jdbcType=TIMESTAMP},
            #{item.purchasePrice,jdbcType=NUMERIC},
            #{item.remark,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <insert id="insertSelective"
            parameterType="com.kthw.pmis.entiy.StockInfo1">
        insert into tbl_stock_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="factoryPartsCode != null">
                factory_parts_code,
            </if>
            <if test="partIdSeq != null">
                part_id_seq,
            </if>
            <if test="storehouseId != null">
                storehouse_id,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
            <if test="assetAttributesId != null">
                asset_attributes_id,
            </if>
            <if test="sheetId != null">
                sheet_id,
            </if>
            <if test="partsState != null">
                parts_state,
            </if>
            <if test="warranty != null">
                warranty,
            </if>
            <if test="deviceId != null">
                device_id,
            </if>
            <if test="purchaseDate != null">
                purchase_date,
            </if>
            <if test="purchasePrice != null">
                purchase_price,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="factoryPartsCode != null">
                #{factoryPartsCode,jdbcType=VARCHAR},
            </if>
            <if test="partIdSeq != null">
                #{partIdSeq,jdbcType=VARCHAR},
            </if>
            <if test="storehouseId != null">
                #{storehouseId,jdbcType=NUMERIC},
            </if>
            <if test="enabled != null">
                #{enabled,jdbcType=NUMERIC},
            </if>
            <if test="assetAttributesId != null">
                #{assetAttributesId,jdbcType=NUMERIC},
            </if>
            <if test="sheetId != null">
                #{sheetId,jdbcType=VARCHAR},
            </if>
            <if test="partsState != null">
                #{partsState,jdbcType=NUMERIC},
            </if>
            <if test="warranty != null">
                #{warranty,jdbcType=NUMERIC},
            </if>
            <if test="deviceId != null">
                #{deviceId,jdbcType=NUMERIC},
            </if>
            <if test="purchaseDate != null">
                #{purchaseDate,jdbcType=NUMERIC},
            </if>
            <if test="deviceId != null">
                #{deviceId,jdbcType=NUMERIC},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.kthw.pmis.entiy.StockInfo1">
        update tbl_stock_info
        <include refid="ByMap_Set_Clause"/>
        where factory_parts_code = #{factoryPartsCode,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey"
            parameterType="com.kthw.pmis.entiy.StockInfo1">
		update tbl_stock_info
		set part_id_seq =
		#{partIdSeq,jdbcType=VARCHAR},
		storehouse_id =
		#{storehouseId,jdbcType=NUMERIC},
		enabled =
		#{enabled,jdbcType=NUMERIC},
		asset_attributes_id =
		#{assetAttributesId,jdbcType=NUMERIC},
		sheet_id =
		#{sheetId,jdbcType=VARCHAR},
		parts_state =
		#{partsState,jdbcType=NUMERIC}
		warranty =
		#{warranty,jdbcType=NUMERIC},
		device_id =
		#{deviceId,jdbcType=NUMERIC}
		where factory_parts_code =
		#{factoryPartsCode,jdbcType=VARCHAR}
	</update>
    <update id="updateByMap" parameterType="java.util.Map">
        update tbl_stock_info
        <if test="_parameter != null">
            <include refid="ByMap_Set_Clause"/>
            <include refid="ByMap_Where_Clause"/>
        </if>
    </update>
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update tbl_stock_info
            <set>
                <if test="item.partIdSeq != null and item.partIdSeq != ''">
                    part_id_seq =
                    #{item.partIdSeq,jdbcType=VARCHAR},
                </if>
                <if test="item.storehouseId != null and item.storehouseId != ''">
                    storehouse_id =
                    #{item.storehouseId,jdbcType=NUMERIC},
                </if>
                <if test="item.enabled != null and item.enabled != ''">
                    enabled =
                    #{item.enabled,jdbcType=NUMERIC},
                </if>
                <if test="item.assetAttributesId != null and item.assetAttributesId !=''">
                    asset_attributes_id =
                    #{item.assetAttributesId,jdbcType=NUMERIC},
                </if>
                <if test="item.sheetId != null and item.sheetId !=''">
                    sheet_id =
                    #{item.sheetId,jdbcType=VARCHAR},
                </if>
                <if test="item.partsState != null and item.partsState!=''">
                    parts_state =
                    #{item.partsState,jdbcType=NUMERIC},
                </if>
                <if test="item.warranty != null">
                    warranty =
                    #{item.warranty,jdbcType=NUMERIC},
                </if>
                <if test="item.deviceId != null">
                    device_id =
                    #{item.deviceId,jdbcType=NUMERIC},
                </if>
                <if test="item.purchasePrice != null">
                    purchase_price =
                    #{item.purchasePrice,jdbcType=NUMERIC},
                </if>
                <if test="item.newPartCode != null and item.newPartCode !=''">
                    factory_parts_code =
                    #{item.newPartCode,jdbcType=VARCHAR},
                </if>
            </set>
            where factory_parts_code =
            #{item.factoryPartsCode,jdbcType=VARCHAR}


        </foreach>
    </update>
    <update id="batchUpdateByPartsId" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update tbl_stock_info
            <set>
                <if test="item.partIdSeq != null">
                    part_id_seq =
                    #{item.partIdSeq,jdbcType=VARCHAR},
                </if>
                <if test="item.storehouseId != null">
                    storehouse_id =
                    #{item.storehouseId,jdbcType=NUMERIC},
                </if>
                <if test="item.enabled != null">
                    enabled =
                    #{item.enabled,jdbcType=NUMERIC},
                </if>
                <if test="item.assetAttributesId != null">
                    asset_attributes_id =
                    #{item.assetAttributesId,jdbcType=NUMERIC},
                </if>
                <if test="item.factoryPartsCode != null">
                    factory_parts_code =
                    #{item.factoryPartsCode,jdbcType=VARCHAR},
                </if>
                <if test="item.sheetId != null">
                    sheet_id =
                    #{item.sheetId,jdbcType=VARCHAR},
                </if>
                <if test="item.partsState != null">
                    parts_state =
                    #{item.partsState,jdbcType=NUMERIC},
                </if>
                <if test="item.warranty != null">
                    warranty =
                    #{item.warranty,jdbcType=NUMERIC},
                </if>
                <if test="item.deviceId != null">
                    device_id =
                    #{item.deviceId,jdbcType=NUMERIC},
                </if>
            </set>
            where part_id_seq =
            #{item.partIdSeq,jdbcType=VARCHAR}
        </foreach>
    </update>
    <update id="updatePartCode" parameterType="java.util.Map">
        update tbl_stock_info
        <set>
            <if test="partCode != null">
                factory_parts_code=#{partCode,jdbcType=VARCHAR},
            </if>
        </set>
        where factory_parts_code=#{sourcePartCode,jdbcType=VARCHAR}
    </update>
    <delete id="batchDelete" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            delete from
            tbl_stock_info
            where factory_parts_code =
            #{item.factoryPartsCode,jdbcType=VARCHAR}
        </foreach>
    </delete>
    <resultMap id="countResultMap" type="com.kthw.pmis.entiy.dto.StockInfoCountDTO">
        <result column="part_id" jdbcType="VARCHAR" property="partId"/>
        <result column="supplier_name" jdbcType="VARCHAR" property="supplierName"/>
        <result column="device_parts_name" jdbcType="VARCHAR" property="devicePartsName"/>
        <result column="device_type_name" jdbcType="VARCHAR" property="deviceTypeName"/>
        <result column="device_model_name" jdbcType="VARCHAR" property="deviceModelName"/>
        <result column="storehouse_name" jdbcType="VARCHAR" property="storeHouseName"/>
        <result column="count" jdbcType="NUMERIC" property="count"/>
    </resultMap>
    <select id="countPartsByStoreHouse" parameterType="java.util.Map"
            resultMap="countResultMap">
        select vp.parts_code as
        part_id,vp.supplier_name,vp.device_parts_name,vp.device_type_name,vp.device_model_name,sd.storehouse_name,count(*)
        from tbl_stock_info si LEFT join view_parts_dict vp
        on SUBSTR(si.part_id_seq,1,5)=vp.parts_code
        LEFT join tbl_storehouse_dict sd on si.storehouse_id=sd.storehouse_id
        <where>
            <if test="storeHouseId != null">
                si.storehouse_id=#{storeHouseId,jdbcType=NUMERIC}
            </if>
        </where>
        group by
        vp.parts_code,vp.supplier_name,vp.device_parts_name,vp.device_type_name,vp.device_model_name,sd.storehouse_name

    </select>
</mapper>