<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kthw.pmis.mapper.common.DeviceTypeMapper">
  <resultMap id="BaseResultMap" type="com.kthw.pmis.entiy.DeviceType">
    <result column="device_type_id" jdbcType="NUMERIC" property="deviceTypeId" />
    <result column="device_type_name" jdbcType="VARCHAR" property="deviceTypeName" />
    <result column="enabled" jdbcType="NUMERIC" property="enabled" />
    <result column="device_type_code" jdbcType="CHAR" property="deviceTypeCode" />
  </resultMap>
  <sql id="Base_Column_List">device_type_id,device_type_name,enabled,device_type_code</sql>
  <sql id="ByMap_Where_Clause">
    <where>
      <if test="eqDeviceTypeId != null">
        AND device_type_id = #{eqDeviceTypeId,jdbcType=NUMERIC}
      </if>
      <if test="eqDeviceTypeName != null">
        AND device_type_name = #{eqDeviceTypeName,jdbcType=VARCHAR}
      </if>
      <if test="eqEnabled != null">
        AND enabled = #{eqEnabled,jdbcType=NUMERIC}
      </if>
      <if test="eqDeviceTypeCode != null">
        AND device_type_code = #{eqDeviceTypeCode,jdbcType=CHAR}
      </if>
    </where>
  </sql>
  <sql id="ByMap_Set_Clause">
    <set>
      <if test="deviceTypeId != null">
        device_type_id = #{deviceTypeId,jdbcType=NUMERIC},
      </if>
      <if test="deviceTypeName != null">
        device_type_name = #{deviceTypeName,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=NUMERIC},
      </if>
      <if test="deviceTypeCode != null">
        device_type_code = #{deviceTypeCode,jdbcType=CHAR},
      </if>
    </set>
  </sql>
  <select id="selectByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_5t_device_type_dict
    <if test="_parameter != null">
      <include refid="ByMap_Where_Clause" />
      <if test="orderByClause != null">
        order by ${orderByClause}
      </if>
    </if>
  </select>
  <insert id="insert" parameterType="com.kthw.pmis.entiy.DeviceType">
    insert into tbl_5t_device_type_dict (device_type_id, device_type_name, enabled, 
      device_type_code)
    values (#{deviceTypeId,jdbcType=NUMERIC}, #{deviceTypeName,jdbcType=VARCHAR}, #{enabled,jdbcType=NUMERIC}, 
      #{deviceTypeCode,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kthw.pmis.entiy.DeviceType">
    insert into tbl_5t_device_type_dict
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deviceTypeId != null">
        device_type_id,
      </if>
      <if test="deviceTypeName != null">
        device_type_name,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
      <if test="deviceTypeCode != null">
        device_type_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deviceTypeId != null">
        #{deviceTypeId,jdbcType=NUMERIC},
      </if>
      <if test="deviceTypeName != null">
        #{deviceTypeName,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=NUMERIC},
      </if>
      <if test="deviceTypeCode != null">
        #{deviceTypeCode,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByMap" parameterType="java.util.Map">
    update tbl_5t_device_type_dict
    <if test="_parameter != null">
      <include refid="ByMap_Set_Clause" />
      <include refid="ByMap_Where_Clause" />
    </if>
  </update>
</mapper>